<html>
<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <link rel="shortcut icon" href="{{ site.favicon }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/reveal.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/theme/serif.min.css">
    {% include baidutongji.html %}
    <meta name="google-site-verification" content="ZqVpjmLHnwuJ0qbh4QrpcofglQe6XEjjF7X1AB7yXus"/>
    <style>
        div, img {
            display: inline-block;
        }

        /*https://revealjs.com/*/
        .slides {
            /*move up 10%*/
            transform: translate(-50%, -60%) scale(0.8) !important;
        }
    </style>
</head>
<body>
<a href="{{ site.url }}" style="position: absolute; margin: 5px; cursor: pointer; z-index: 100;">Esc</a>
<div class="reveal">
    <div class="slides">
        <section data-markdown data-separator="^---">
            <textarea data-template>{% include_relative _slides/{{ page.content_file }} %}</textarea>
        </section>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/js/reveal.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/lib/js/head.min.js"></script>
<script>
    Reveal.initialize({
        width: 1280,
        height: 800,
        slideNumber: true,
        minScale: 0.8,
        maxScale: 0.8,
        navigationMode: 'linear',
        dependencies: [
            {
                src: "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/plugin/markdown/marked.min.js",
                condition: function () {
                    return !!document.querySelector('[data-markdown]');
                }
            },
            {
                src: "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/plugin/markdown/markdown.min.js",
                condition: function () {
                    return !!document.querySelector('[data-markdown]');
                }
            }
        ]
    });
</script>
</body>
</html>
